$primary-color: #415165;
$secondary-color: #FFFFFF;
$strong-title-color:#A00404;
$border-line-color:#96A9C4;

// font-size
.fz-24 {
    font-size: 24px;
}

.fz-32 {
    font-size: 32px;
}

.fz-80 {
    font-size: 80px;
}

// margin
.m-8 {
    margin: 8px;
}
.m-14 {
    margin: 14px;
}

.m-24 {
    margin: 24px;
}

.m-32 {
    margin: 32px;
}

.m-36 {
    margin: 36px;
}

.m-48 {
    margin: 48px;
}

.m-72 {
    margin: 72px;
}

