@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
$primary-color: #415165;
$secondary-color: #FFFFFF;
$strong-title-color:#A00404;
$border-line-color:#96A9C4;
$font-family-ch: 'Noto Sans TC', sans-serif;
$font-family-eng: Roboto, sans-serif;

$m-8:  8px;
$m-14: 14px;
$m-16: 16px;
$m-24: 24px;
$m-32: 32px;
$m-36: 36px;
$m-48: 48px;
$m-72: 72px;


// font-size
.fz-20 {
    font-size: 20px;
}
.fz-24 {
    font-size: 24px;
}

.fz-32 {
    font-size: 32px;
}

.fz-80 {
    font-size: 80px;
}

//全域設定
*,*::before,*::after {
    box-sizing: border-box;

}
body {
    font-family: $font-family-ch, $font-family-eng;
    line-height: 1.5;
   
}


.container {
    width: 1200px;
    margin: 0 auto;
    
}


//區塊
.title {
    border-bottom: 2px solid #000;
}

.profile-pic {
    padding: 48px 0;
    img {
        display: block;
        width: 324px;
        height: 324px;
    }
}

.profile {
    h2.container {
        border-bottom: 1px solid #000;
        
    }
    span {
        display: inline-block;
        position: relative;
        color: $strong-title-color ;
        font-weight: bold;
        bottom: 3px;
    }
    ul {
        padding-top: 16px;
        margin-bottom: $m-72;
        li:first-child {
            margin-bottom: $m-24;
        }
    }
}

.education {
    h2.container {
        border-bottom: 1px solid #000;
    }
    span {
        display: inline-block;
        position: relative;
        color: $strong-title-color ;
        font-weight: bold;
        bottom: 3px;
    }
    ul {
        padding-top: 16px;
        margin-bottom: $m-72;
        li:first-child {
            margin-bottom: $m-24;
        }
    }
}

.skills {
    background-color: $primary-color;
    text-align: center;
    color: $secondary-color;
    padding: 24px 0 36px 0;
    h2 { 
        width: 996px;
        border-bottom: 1px solid $secondary-color;
        padding: 8px 0;
        span {
            display: inline-block;
            position: relative;
            bottom: 1px;
        }
    }
    ul {
        margin-top:$m-36;
        width: 236px;
        border-left: 1px solid $border-line-color;
        li {
            font-weight: 300;
            margin-bottom:$m-16;
        }
    }
}

.workexp {
    padding: 72px 0 ;
    h2.container {
        border-bottom: 1px solid #000;
        span {
            display: inline-block;
            position: relative;
            color: $strong-title-color ;
            font-weight: bold;
            bottom: 3px;
        }
    }
    .workexp-content{
      padding: 16px 24px;

    }
    ul {
        padding-left: 24px;
        border-left: 1px solid $border-line-color;
      
        li{
            margin-bottom:$m-24;

        }
    }

}

.contact {
    background-color: $primary-color;
    text-align: center;
    color: $secondary-color;
    padding-top: 24px;
    h2.container { 
        border-bottom: 1px solid $secondary-color;
        padding: 8px 0;
        span {
            display: inline-block;
            position: relative;
            bottom: 1px;
        }
    }
    ul {
      padding: 32px 0 36px 0;
      li {
          margin-bottom: $m-16;
          font-weight: 300;
          a {
            text-decoration: none;
            color: $secondary-color;
            transition: all 0.2s;
            &:hover{
                color:$border-line-color;
            }
        }
          img{
            margin-right: $m-24;
            transition: all 0.2s;
            &:hover{
              transform: scale(1.2);
            }
          }
        
         
      } 
    }
}